USE [master]
GO
/****** Object:  Database [DonationWeb]    Script Date: 03/10/2020 23:40:06 ******/
CREATE DATABASE [DonationWeb] ON  PRIMARY 
( NAME = N'DonationWeb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\DonationWeb.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DonationWeb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\DonationWeb_log.ldf' , SIZE = 2816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DonationWeb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DonationWeb]
GO
/****** Object:  Table [dbo].[tb_setting]    Script Date: 03/10/2020 23:40:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_setting](
	[settingID] [int] IDENTITY(1,1) NOT NULL,
	[textData] [nvarchar](max) NULL,
	[type] [nvarchar](50) NOT NULL,
	[colour] [nvarchar](50) NULL,
	[size] [nvarchar](10) NULL,
 CONSTRAINT [PK_tb_setting] PRIMARY KEY CLUSTERED 
(
	[settingID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_picture]    Script Date: 03/10/2020 23:40:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_picture](
	[pictureID] [bigint] IDENTITY(1,1) NOT NULL,
	[imageData] [image] NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[sizeX] [int] NULL,
	[sizeY] [int] NULL,
 CONSTRAINT [PK_tb_picture] PRIMARY KEY CLUSTERED 
(
	[pictureID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_donationRecord]    Script Date: 03/10/2020 23:40:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_donationRecord](
	[donationID] [bigint] IDENTITY(1,1) NOT NULL,
	[amount] [float] NOT NULL,
	[date] [date] NOT NULL,
	[time] [nvarchar](50) NULL,
 CONSTRAINT [PK_tb_donationRecord] PRIMARY KEY CLUSTERED 
(
	[donationID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Comment]    Script Date: 03/10/2020 23:40:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Comment](
	[CommentID] [bigint] IDENTITY(1,1) NOT NULL,
	[Town] [nvarchar](50) NOT NULL,
	[PostCode] [int] NOT NULL,
	[FromDate] [date] NOT NULL,
	[ToDate] [date] NOT NULL,
	[Comment] [nvarchar](500) NOT NULL,
	[NoOfPeople] [int] NOT NULL,
 CONSTRAINT [PK_tb_Comment] PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
