<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link type="text/css" href="~/Bootstrap/Content/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
    <div>
        @RenderBody()
    </div>


    @* javascripts *@
    <script type="text/javascript" src="~/Bootstrap/Scripts/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="~/Bootstrap/Scripts/umd/popper.min.js"></script>
    <script type="text/javascript" src="~/Bootstrap/Scripts/bootstrap.min.js"></script>
</body>
</html>
